body {
    font-family:'Courier New', Courier, monospace;
}

#count_plus  {
    font-size: 20px;
    padding: 6px 14px;    
}

#count_display {
    font-size: 24px;
    border: solid 2px black;
    padding: 4px 14px;
}

#count_minus {
    font-size: 20px;
    padding: 6px 14px;
}


#count_plus:hover {
    background-color: lightgray;
}


#count_minus:hover {
    background-color: lightgray;
}


