* {
  font-size: 30px;
}

div {
  text-align: center;
}

#BatteryLevel,
#batteryCharging,
#ChargeInfo,
#DischargingInfo {
  color: red;
}

.title {
  color: purple;
}

button {
  font-size: 20px;
  padding: 10px 20px;
  cursor: pointer;
}
