/* mobile.css */
@media only screen and (max-width: 767px) {
    body {
        font-family: Orbitron;
        background: black;
        color: #17D4FE;
        /* font-size: 44px; */
        font-family: Orbitron;
        letter-spacing: 4px;
    }
}
