/* tablet */
@media only screen and (min-width: 992px) and (max-width: 1199px) {
    body {
        font-family: Orbitron;
        color: green;
        color: #17D4FE;
        font-size: 30px;
        font-family: Orbitron;
        letter-spacing: 4px;
    }    
}
