body {
    margin: 0;
    overflow: hidden;
    background: black;
    font-family: monospace;
  }
  
  #matrixCanvas {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
  }
  
  #clock {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #00ff00;
    font-size: 6em;
    z-index: 1;
    text-shadow: 0 0 10px #00ff00;
  }
  
