/* 
** style.css 
**/


/* all */
* {
    background-color: #dddddd;
}

/* #logo {
  border: 10px solid red;
  width: 2px;
  height: 2px;
} */

/* pdf */
#pdfDoc {
    text-align-last: center;
    border-style: dotted;    
    border-width: 1px;
    border-color: #11999e;
}


/* logo */
.info {
    text-align-last: center;
    background-color: #dddddd;
    padding-top: 10px;
    padding-bottom: 10px;
    color: #11999e;
    font-size: 15px;    
}



/* button */
.centerItem {
    text-align-last: center;
    background-color: #dddddd;
    padding-top: 30px;
    padding-bottom: 30px;
}

/* button */
.btn1 {
    background: #11999e;
    background-image: -webkit-linear-gradient(top, #11999e, #11999e);
    background-image: -moz-linear-gradient(top, #11999e, #11999e);
    background-image: -ms-linear-gradient(top, #11999e, #11999e);
    background-image: -o-linear-gradient(top, #11999e, #11999e);
    background-image: linear-gradient(to bottom, #11999e, #11999e);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  /* button */
  .btn1:hover {
    background: #30e3ca;
    /* background: #e4f9f5; */
    color: #11999e;
    text-decoration: none;
  }

  footer {
    margin: 1em 0 2em;
    text-align: center;
    color: #a6adbb;
  }
  
  /* jaron change  */
  .container {
    background-color: #FFF;
    border-radius: 3px;
    margin: 1px auto;
    width: 50%;
    padding: 1px;
    border: 1px solid rgba(166, 173, 188, 0.35);
  }
  

/* Form */
.form-row {
  margin-bottom: 2em;
}
.form-label {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 1em;
}
.form-field {
  position: relative;
}
.form-comment {
  color: #999;
  font-size: 14px;
}
.c-select {
  width: 100%;
  font-size: 16px;
  height: 56px;
}
.c-input {
  width: 100%;
  font-size: 16px;
  padding: 16px;
  border-radius: 4px;
  border: 1px solid #DDD;
}
.c-input:focus {
  outline: none;
  border-color: #8d90ff;
}

.c-submit {
  padding: 10px 15px;
  font-size: 16px;
  background-color: #3bd07d;
  border-radius: 3px;
  border: none;
  cursor: pointer;
  color: #FFF;
  font-weight: bold;
  width: 100%;
}

.c-submit:disabled {
  opacity: .3;
}

.hidden {
  display: none;
}

/* Signature field */
/* .sig {
  border: 1px solid #DDD;
  border-radius: 4px;
  cursor: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" style="font-size:16px"><text y="16">✏️</text></svg>'), auto;
} */

.sig{
  cursor: crosshair;
  border-style: dotted;    
  border-width: 1px;
  border-color: #11999e;
}

.sig-reset {
  position: absolute;
  top: 12px;
  right: 10px;
  border: none;
  background-color: rgba(0, 0, 0, .12);
  height: 26px;
  width: 26px;
  border-radius: 30px;
  cursor: pointer;
}
.sig-reset:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.sig-reset::before {
  content: '×';
  color: #FFF;
  font-size: 20px;
  line-height: .7;
  text-align: center;
}

.intro {
  margin: 0 0 2em;
}
